@page
@model HealthCenterMaster.Pages.Clients.IndexModel

@{
    ViewData["Title"] = "Pacientes";
}

<section class="container">
    <div class="d-flex justify-content-between align-items-center w-100">
        <h2>@ViewData["Title"]</h2>
        <p class="btn-base">
            <a asp-page="Create">Cadastrar</a>
        </p>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Client[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Client[0].CPF)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Client[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Client[0].DateOfBirth)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Client)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                     <td class="d-flex justify-content-end gap-4">
                        <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fa  fa-pencil fs-3 text-success"></i></a> 
                        <a asp-page="./Details" asp-route-id="@item.Id"><i class="fa  fa-info-circle fs-3 text-info"></i></a> 
                        <a asp-page="./Delete" asp-route-id="@item.Id"><i class="fa  fa-trash-o fs-3 text-danger"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>