@page
@model IndexModel
@using HealthCenterMaster.Models
@{

    Team[] team = new Team[]
    {
new Team { Name = "Ana Silva", Email = "ana.silva@healthcenter.com", Phone = "(41) 98765-4321", Image =
"images/fisioterapeuta2.jpg", Specialty = "Fisioterapeuta" },
new Team { Name = "Carlos Oliveira", Email = "carlos.oliveira@healthcenter.com", Phone = "(41) 98765-1234", Image =
"images/fisioterapeuta1.jpg", Specialty = "Fisioterapeuta" },
new Team { Name = "Mariana Santos", Email = "mariana.santos@healthcenter.com", Phone = "(41) 98765-5678", Image =
"images/fisioterapeuta3.jpg", Specialty = "Fisioterapeuta" }
    };

    News[] news = new News[]
    {
new News { Title = "Avanços Tecnológicos na Fisioterapia: Robôs Revolucionam a Reabilitação", Content = "Um grupo de pesquisadores em fisioterapia desenvolveu robôs inovadores para auxiliar na reabilitação de pacientes. Esses robôs utilizam tecnologia de ponta para fornecer exercícios personalizados, acelerando o processo de recuperação. Os resultados promissores indicam uma mudança significativa na forma como a fisioterapia é praticada.", Author = "Marcus Harris", Author_Specialty =
"Fisioterapia Ortopédica", Date = new DateTime(2023, 12, 12,20,30,00), Image = "images/maos-robo.jpg"},
new News { Title = "Fisioterapia Aquática: Uma Abordagem Refrescante para a Reabilitação", Content = "Em um estudo recente, fisioterapeutas exploraram os benefícios da fisioterapia aquática para pacientes com condições musculares e articulares. Descobriu-se que a resistência da água proporciona um ambiente de baixo impacto, promovendo a mobilidade e aliviando a dor. A fisioterapia aquática emerge como uma opção refrescante e eficaz para a recuperação.", Author = "Emily Bennett",
Author_Specialty = "Fisioterapia Aquática", Date = new DateTime(2023, 12, 20,15,00,00), Image = "images/hidroginastica.jpg"},
new News { Title = "Mindfulness na Fisioterapia: Integrando o Bem-Estar Mental e Físico", Content = "Fisioterapeutas estão adotando abordagens inovadoras, como a incorporação de mindfulness no tratamento. A prática de mindfulness, que envolve a atenção plena e a consciência do corpo, está sendo integrada aos exercícios fisioterapêuticos. Esta abordagem holística visa não apenas à recuperação física, mas também ao bem-estar mental, proporcionando aos pacientes uma experiência completa de cuidados de saúde.", Author = "Brandon Foster",
Author_Specialty = "Fisioterapia Geriátrica", Date = new DateTime(2023, 12, 15,10,35,30), Image = "images/ioga.jpg"}
    }; 

    ViewData["Title"] = "Home page";
    ViewData["Profissao"] = "Fisioterapeuta";
    ViewBag.Team = team;
    ViewBag.News = news; 
}


@{
    Layout = "_Layout";
}

<!-- HOME -->
<section id="home" class="slider" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="owl-carousel owl-theme">
                <div class="item item-first">
                    <div class="caption">
                        <div class="col-md-offset-1 col-md-10">
                            <h3>Vamos tornar sua vida mais feliz</h3>
                            <h1>Vida Saudável</h1>
                            <a href="#team" class="section-btn btn btn-default smoothScroll">Conheça nossos profissionais</a>
                        </div>
                    </div>
                </div>

                <div class="item item-second">
                    <div class="caption">
                        <div class="col-md-offset-1 col-md-10">
                            <h3>Tenha mais prazer no dia a dia</h3>
                            <h1>Novo estilo de vida</h1>
                            <a href="#about" class="section-btn btn btn-default btn-gray smoothScroll">Mais sobre nós</a>
                        </div>
                    </div>
                </div>

                <div class="item item-third">
                    <div class="caption">
                        <div class="col-md-offset-1 col-md-10">
                            <h3></h3>
                            <h1>Benefícios para a saúde</h1>
                            <a href="#news" class="section-btn btn btn-default btn-blue smoothScroll">Conheça sobre o assunto</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- ABOUT -->
<section id="about">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6">
                <div class="about-info">
                    <h2 class="wow fadeInUp" data-wow-delay="0.6s">Bem vindo à <i class="fa fa-h-square"></i>ealth
                        Center</h2>
                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <p>Aqui na Health Center cuidar do seu bem-estar é a nossa missão principal. Fundada com a visão
                            de proporcionar serviços de fisioterapia de alta qualidade, nossa clínica é dedicada a
                            oferecer cuidados personalizados e compassivos a cada um de nossos pacientes.</p>

                    </div>
                    <figure class="profile wow fadeInUp" data-wow-delay="1s">
                        <img src="images/author-image.jpg" class="img-responsive" alt="">
                        <figcaption>
                            <h3>Dr. Marcus Harris</h3>
                            <p>Responsável Geral</p>
                        </figcaption>
                    </figure>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- TEAM -->
<section id="team" data-stellar-background-ratio="1">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6">
                <div class="about-info">
                    <h2 class="wow fadeInUp" data-wow-delay="0.1s">Nosso Time</h2>
                </div>
            </div>

            <div class="clearfix"></div>

            @foreach (var integrante in ViewBag.Team)
            {
                <div class="col-md-4 col-sm-6">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                        <img src=@integrante.Image class="img-responsive" alt="">

                        <div class="team-info">
                            <h3>@integrante.Name</h3>
                            <p>@integrante.Specialty</p>
                            <div class="team-contact-info">
                                <p><i class="fa fa-phone"></i>@integrante.Phone</p>
                                <p><i class="fa fa-envelope-o"></i> <a href="#">@integrante.Email</a></p>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#" class="fa fa-linkedin-square"></a></li>
                                <li><a href="#" class="fa fa-envelope-o"></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</section>


<!-- NEWS -->
<section id="news" data-stellar-background-ratio="2.5">
    <div class="container" style="width: 100%;">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <!-- SECTION TITLE -->
                <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                    <h2>Notícias</h2>
                </div>
            </div>

            @foreach (var newsletter in ViewBag.News)
            {
                <div class="col-md-4 col-sm-6">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                        <a href="news-detail.html">
                            <img src=@newsletter.Image class="img-responsive" alt="">
                        </a>
                        <div class="news-info">
                            <span>@newsletter.Date</span>
                            <h3><a href="news-detail.html">@newsletter.Title</a></h3>
                            <p>@newsletter.Content</p>
                            <div class="author">
                                <img src="images/author-image.jpg" class="img-responsive" alt="">
                                <div class="author-info">
                                    <h5>@newsletter.Author</h5>
                                    <p>@newsletter.Author_Specialty</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>


<!-- MAKE AN APPOINTMENT -->
<section id="appointment" data-stellar-background-ratio="3">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6">
                <img src="images/appointment-image.jpg" class="img-responsive" alt="">
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- CONTACT FORM HERE -->
                <form id="appointment-form" role="form" method="post" action="#">

                    <!-- SECTION TITLE -->
                    <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                        <h2>Marque uma consulta</h2>
                    </div>

                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-md-6 col-sm-6">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Full Name">
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <label for="date">Select Date</label>
                            <input type="date" name="date" value="" class="form-control">
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <label for="select">Select Department</label>
                            <select class="form-control">
                                <option>General Health</option>
                                <option>Cardiology</option>
                                <option>Dental</option>
                                <option>Medical Research</option>
                            </select>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <label for="telephone">Phone Number</label>
                            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone">
                            <label for="Message">Additional Message</label>
                            <textarea class="form-control" rows="5" id="message" name="message"
                                placeholder="Message"></textarea>
                            <button type="submit" class="form-control" id="cf-submit" name="submit">Submit
                                Button</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>


<!-- GOOGLE MAP -->
<section id="google-map">
    <!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
    -->
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d900.7875944367613!2d-49.253505604281315!3d-25.433235580903226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce4457720226d%3A0x396c51faf73f5f22!2sR.%20Jos%C3%A9%20de%20Alencar%2C%20303%20-%20Cristo%20Rei%2C%20Curitiba%20-%20PR%2C%2080045-115!5e0!3m2!1spt-PT!2sbr!4v1705774257726!5m2!1spt-PT!2sbr"
        width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
